body{
  background-color: #F0EBE3;
}

hr{
  border-color: #7D9D9C;
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
}

h1{
  color: #576F72;
}

h2{
  color: #576F72;
}

h3{
  color: #576F72;
}
